<!DOCTYPE html>
<html lang="en">
<head>
<title>About us</title>
	{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Mixtape template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\bootstrap.min.css'%}">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\about.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\about_responsive.css'%}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->
	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-center">
			<div class="logo"><a href="#">3 way authentication</a></div>
			<div class="log_reg">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="#">Login</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</div>
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="about.html">About us</a></li>
					<li><a href="music.html">security</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<div class="hamburger ml-auto">
				<div class="d-flex flex-column align-items-end justify-content-between">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div>
			<div class="menu_overlay"></div>
			<div class="menu_container d-flex flex-column align-items-start justify-content-center">
				<div class="menu_log_reg">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
				<nav class="menu_nav">
					<ul class="d-flex flex-column align-items-start justify-content-start">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_inner">
			
			<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'g4.gif'%}" data-speed="0.2"></div>
			<div class="home_container">
				<div class="home_content text-center">
					<div class="home_subtitle"></div>
					<div class="home_title">security</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Discs -->

	<div class="discs">
		<div class="container">
			<div class="row discs_row">
				
				<!-- Disc -->
								<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Disc -->
								<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Disc -->
				<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Disc -->
				<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<!-- Disc -->
							<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Disc -->
								<div class="col-xl-4 col-md-6">
					<div class="disc">
						<a href="single.html">
							<div class="disc_image"><img src="{%static 'images (1).jfif'%}" alt="https://unsplash.com/@arstyy" width="350px" height="500px"></div>
							<div class="disc_container">
								<div>
									<div class="disc_content_4 d-flex flex-column align-items-start justify-content-end">
										<div class="text-left">
											<div class="disc_title">security</div>
											<div class="disc_subtitle">so long</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<h4><b><center><mark>EVERY  10  SECOND  WE  HAVE  A  DATA ATTACK<mark></center></b></h4><br><br><br>
<img src="{%static 'g2.gif'%}" alt="Smiley face" width="500px" height="500px" align="middle" style="margin:0px 50px"> <img src="{%static 'g3.gif'%}" alt="Smiley face" width="800px" height="500px" align="middle" style="margin:0px 50px"><br><br><br><br><br><br>

	<!-- Milestones -->
	<h4><b><center><mark>DATA  CHANGES  TIME  TO  TIME<mark></center></b></h4>
    <div Header= "text=some data">
	<div class="milestones">
		<div class="milestones_container">
			<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/" data-speed="tg (20.8"></div>
			<div class="container">
				<div class="row milestones_row">
					
					<!-- Milestone -->
					<div class="col-xl-3 col-md-6 milestone_col">
						<div class="milestone d-flex flex-row align-items-center justify-content-start">
							<div class="milestone_icon"><img src="{%static 'g1.gif'%}" alt="https://www.flaticon.com/authors/smashicons"></div>
							<div class="milestone_content">
								<div class="milestone_counter" data-end-value="5000" data-sign-after="B">0</div>
								<div class="milestone_text">cyber crimes</div>
							</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-xl-3 col-md-6 milestone_col">
						<div class="milestone d-flex flex-row align-items-center justify-content-start">
							<div class="milestone_icon"><img src="{%static 'g1.gif'%}" alt="https://www.flaticon.com/authors/smashicons"></div>
							<div class="milestone_content">
								<div class="milestone_counter" data-end-value="1830" data-sign-after="k">0</div>
								<div class="milestone_text">hackers</div>
							</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-xl-3 col-md-6 milestone_col">
						<div class="milestone d-flex flex-row align-items-center justify-content-start">
							<div class="milestone_icon"><img src="{%static 'g1.gif'%}" alt="https://www.flaticon.com/authors/smashicons"></div>
							<div class="milestone_content">
								<div class="milestone_counter" data-end-value="3700" data-sign-after="k">0</div>
								<div class="milestone_text">security</div>
							</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-xl-3 col-md-6 milestone_col">
						<div class="milestone d-flex flex-row align-items-center justify-content-start">
							<div class="milestone_icon"><img src="{%static 'g1.gif'%}" alt="#"></div>
							<div class="milestone_content">
								<div class="milestone_counter" data-end-value="100" data-sign-after="M">0</div>
								<div class="milestone_text">data stolen</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
			<div class="newsletter_container">
				<div class="newsletter_title"><h2>Subscribe to us</h2></div>
				<form action="#" id="newsletter_form" class="newsletter_form">
					<input type="email" class="newsletter_input" placeholder="Your E-mail" required="required">
					<button class="newsletter_button">Subscribe</button>
				</form>
			</div>
			<div class="footer_lists d-flex flex-sm-row  flex-column align-items-start justify-content-start ml-xl-auto">

				<!-- Useful Links -->
				<div class="footer_list">
				<div style="float: left; margin-left: 300px;">

				
					<div class="footer_list_title"> UsefulLinks</div>
					<ul>
					<pre><a href="index.html"><b><button type="button"><big>Home</big></button></b></a>   <a href="about.html"><b><button type="button"><big>About us</big></button></b></a>    <a href="blog.html"><b><button type="button"><big>contact</big></button></b></a></pre>
						
						
					</ul>
				</div>
				</div>



			</div>
		</div>
		<div class="copyright_bar">
			<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">3Factor Authentication</a>
</span>
		</div>
	</footer>
</div>

<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\jquery-3.2.1.min.js'%}"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\bootstrap.min.js'%}"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\about.js'%}"></script>
</body>
</html>