<html lang="en">
<head>
    {% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href=" ">
<title>Welcome</title>


     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Bootstrap core CSS -->
<link href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\bootstrap.min.css'%}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\custom.css'%}" rel="stylesheet">

<!-- Helper Styles -->
<link href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\loaders.css'%}" rel="stylesheet">
<link href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\swiper.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\animate.min.css'%}">
<link rel="stylesheet" href="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\css\nivo-lightbox.css'%}">

<!-- Font Awesome Style -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>

  <div class="loader loader-bg">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
</div>
<nav class="navbar navbar-toggleable-md mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/face">3factor<span>Authentication</span></a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
         <li class="nav-item active"> <a class="nav-link" href="/face">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/">logout</a> </li>
        <!--<li class="nav-item"> <a class="nav-link" href="/about">about</a> </li>-->
        </ul>
      </div>
            </div>
    </nav>


   <br><br>
<br><br>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <marquee><strong>3FactorAuthentication Welcomes you..</strong> you are login successfully.</marquee>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card text-center" style="width:250px; position:absolute;left:40%;" >
  <h3 style="background-color:black"><font color="white"><u>Creators</u></font></h3>

</div>
<br>
  <br>
<br>
  <br>

  <p>
  <a style="margin:0 100px;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><img src="{%static 'manish.jpg'%}" width="200px" height="350px"></a>
  <button style="margin:0 160px 0 140px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><img src="{%static 'paras.jpg'%}" width="200px" height="350px" ></button>
  <button style="margin:0 100px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3 "><img src="{%static 'arman.jpg'%}" width="200px" height="350px"></button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body" style="background-color:black"><font color="white">
        <h3><u>Manish sharma</u></h3>
        <ul>
          <li>
            Uni rollno : 1701294
          </li>
          <li>
            Branch/sem : CSE 1 /6TH
          </li>
          <li>
            Linkedin : <a href="https://www.linkedin.com/in/manish-sharma-87b92315b">www.linkedin.com/in/manish-sharma-87b92315b</a>
          </li>
          <li>
            E-mail : <a href="https://www.gmail.com/in/mnishshrma888@gmail.com">mnishshrma888@gmail.com</a>
          </li>
        </ul></font>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body" style="background-color:black"><font color="white">
        <h3><u>Paras Wahi</u></h3>
        <ul>
          <li>
            Uni rollno : 1701322
          </li>
          <li>
            Branch/sem : CSE 1 /6TH
          </li>
          <li>
            Linkedin : <a href="https://www.linkedin.com/in/paras-wahi-433154139">www.linkedin.com/in/paras-wahi-433154139</a>
          </li>
          <li>
            E-mail : <a href="https://www.gmail.com/in/paraswahi1999@gmail.com">paraswahi1999@gmail.com</a>
          </li>
        </ul>
        </font>
      </div>
    </div>
  </div>

<div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body" style="background-color:black"><font color="white">
        <h3><u>Md Arman</u></h3>
        <ul>
          <li>
            Uni rollno : 1701299



          </li>
          <li>
            Branch/sem : CSE 1 /6TH
          </li>
          <li>
            Linkedin : <a href="https://www.linkedin.com/in/mdarman187">www.linkedin.com/in/mdarman187</a>
          </li>
          <li>
            E-mail : <a href="https://www.gmail.com/in/muhammadarman187@gmail.com">muhammadarman187@gmail.com</a>
          </li>
        </ul></font>
      </div>
    </div>
  </div>
  </div>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="card" >
  <div class="navbar navbar-dark bg-dark" >
    <h2><font color="white"> Subscribe to us</font></h2>
  </div>
  <div class="navbar navbar-dark bg-dark">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="your E-mail">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
    </form>

        <div class="copyright_bar">
			<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><font color="white">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/face" >3FactorVerification</a>

            </font></span>
		</div>
  </div>
</div>





 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\jquery.min.js'%}" ></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\bootstrap.min.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\scrollPosStyler.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\swiper.min.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\isotope.min.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\nivo-lightbox.min.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\wow.min.js'%}"></script>
<script src="{%static 'C:\Users\Manish sharma\PycharmProjects\django1\newapp\static\js\core.js'%}"></script>


  </body>
</html>